<div class="cardSearch cardSearch" style="width: 18rem;">
    <img class="card-img top" src="http://image.tmdb.org/t/p/w500/{{poster_path}}" alt="">
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <h6>{{release_date}}</h6>
    </div>
    <div class="card-body">
        <button type="button" data-toggle="modal" data-target="#mySearchDetailsModal-{{id}}" class="btn-card">Details</button>
    </div>
    {{!-- <form action='/find-movies-add' method="get">
        <select name="category">
            <option value="like">Like List</option>
            <option value="hate">Hate List</option>
            <option value="watched">Watched List</option>
        </select>
        <button type="submit">Add to list</button>
    </form> --}}
</div>