<div class="modal fade" id="myTrailerModal-{{tmdbId}}" role="dialog">
    <div class="modal-dialog modal-trailer">
        <div class="modal-content">
            <div class="modal-body-trailer">
                <iframe width='600' height='400' src='{{youtubeLink}}'>
                </iframe>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>