<div class="modal fade" id="myTrailerModal-{{tmdbId}}" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <iframe width='470' height='315' src='{{youtubeLink}}'>
                </iframe>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>