<h1>Welcome to Movie OC!</h1>

<form action="/movie-comedy" id="form-container">
  <input type="submit" value="Movie Comedy" id="category-btn" />
</form>
<form action="/movie-drama" id="form-container">
  <input type="submit" value="Movie Drama" id="category-btn" />
</form>
<form action="/movie-action" id="form-container">
  <input type="submit" value="Movie Action" id="category-btn" />
</form>
<form action="/movie-romcom" id="form-container">
  <input type="submit" value="Movie RomCom" id="category-btn" />
</form>
<form action="/movie-random" id="form-container">
  <input type="submit" value="Movie Random" id="category-btn" />
</form>