<div class="container home" id="categories">
  <div id="title">
    <h3>To get a movie suggestion</h3>
    <hr>
    <h5>just click on a category you like :)</h5>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=35" class="btn btn-primary btn-block">
        <i class="far fa-grin-beam" id="icon"></i>
        Comedy</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=28" class="btn btn-primary btn-block"><i class="fas fa-bomb" id="icon"></i> Action</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=18" class="btn btn-primary btn-block">
        <i class="far fa-sad-cry" id="icon"></i>
        Drama</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=10749" class="btn btn-primary btn-block">
        <i class="fas fa-glass-martini-alt" id="icon"></i>
        Chick Flick</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=878" class="btn btn-primary btn-block"><i class="fas fa-rocket" id="icon"></i> Science
        Fiction
      </a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=53" class="btn btn-primary btn-block"><i class="fas fa-crosshairs" id="icon"></i>
        Thriller</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=80" class="btn btn-primary btn-block"><i class="fas fa-fingerprint" id="icon"></i>
        Crime</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=99" class="btn btn-primary btn-block"><i class="fas fa-glasses" id="icon"></i> Documentary</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion/classic?genre=" class="btn btn-primary btn-block"> <i class="fas fa-film" id="icon"></i>
        Classics</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=14" class="btn btn-primary btn-block"><i class="fab fa-d-and-d" id="icon"></i> Fantasy</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=" class="btn btn-primary btn-block"><i class="fas fa-random" id="icon"></i> Random
        movie</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion/trashy?genre=" class="btn btn-primary btn-block"><i class="far fa-trash-alt" id="icon"></i>
        Trashy movie</a>
    </div>
  </div>
</div>