<div class="container home" id="categories">
  <div id="title">
    <h3>To get a movie suggestion</h3>
    <h5>just click on a category you like :)</h5>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=35" class="btn btn-primary btn-block">Comedy</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=28" class="btn btn-primary btn-block">Action</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=18" class="btn btn-primary btn-block">Drama</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=10749" class="btn btn-primary btn-block">Chick Flick</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=878" class="btn btn-primary btn-block">Science Fiction</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=53" class="btn btn-primary btn-block">Thriller</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=80" class="btn btn-primary btn-block">Crime</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=99" class="btn btn-primary btn-block">Documentary</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion/classic?genre=" class="btn btn-primary btn-block">Classics</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=14" class="btn btn-primary btn-block">Fantasy</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion?genre=" class="btn btn-primary btn-block">Random movie</a>
    </div>
    <div class="col-md-4 col-sm-6 mb-2 mb-md-3">
      <a href="/movie-suggestion/trashy?genre=" class="btn btn-primary btn-block">Trashy movie</a>
    </div>
  </div>
  {{!--
  <div class="row">
    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=35">Comedy</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=28">Action</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=18">Drama</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=10749&genre=35">Chick Flick</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=878">Science Fiction</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=53">Thriller</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=80">Crime</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=99">Documentary</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion/classic?genre=">Classics</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=14">Fantasy</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=">Random Movie</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion/trashy?genre=">Trashy Movie</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div> --}}


  </div>