<h1>Welcome to Movie OC!</h1>

<form action="/movie-suggestion" class="form-container" id="btn-comedy">
  <a href="/movie-suggestion?genre=35" id="category-btn">Comedy</a> <br>
</form>

<form action="//movie-suggestion" class="form-container" id="btn-drama">
  <a href="/movie-suggestion?genre=18" id="category-btn">Drama</a> <br>
</form>

<form action="/movie-suggestion" class="form-container" id="btn-action">
  <a href="/movie-suggestion?genre=28" id="category-btn">Action</a> <br>
</form>

<form action="/movie-suggestion" class="form-container" id="btn-romcom">
  <a href="/movie-suggestion?genre=10749,28" id="category-btn">RomCom</a> <br>
</form>

<form action="/movie-suggestion" class="form-container" id="btn-science-fiction">
  <a href="/movie-suggestion?genre=878" id="category-btn">Science Fiction</a> <br>
</form>

<form action="/movie-suggestion" class="form-container" id="btn-thriller">
  <a href="/movie-suggestion?genre=53" id="category-btn">Thriller</a> <br>
</form>

<form action="/movie-suggestion" class="form-container" id="btn-thriller">
  <a href="/movie-suggestion?genre=99" id="category-btn">Documentary</a> <br>
</form>

<form action="/movie-suggestion" class="form-container" id="btn-random">
  <a href="/movie-suggestion?genre=" id="category-btn">Random movie</a> <br>
</form>