<div class="container" id="categories">
  <div id="title">
    <h3>To get a movie suggestion</h3>
    <h5>just click on a category you like :)</h5>
  </div>
  <div class="row">
    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=35">Comedy</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=28">Action</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=18">Drama</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=10749&genre=35">Chick Flick</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=878">Science Fiction</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=53">Thriller</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>


  </div>
  <div class="row">

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=80">Crime</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=99">Documentary</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion/classic?genre=">Classics</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

  </div>
  <div class="row">

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=14">Fantasy</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion?genre=">Random Movie</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-2 mb-md-3">
      <div class="card py-2 h-100" id="categoryCard">
        <div class="card-body text-center">
          <i class="fas fa-map-marked-alt text-primary mb-2"></i>
          <h5 class="text-uppercase m-0-pt-1">
            <form action="/movie-suggestion">
              <i class="glyphicon glyphicon-heart"></i>
              <a href="/movie-suggestion/trashy?genre=">Trashy Movie</a> <br>
            </form>
          </h5>
        </div>
      </div>
    </div>


  </div>