<h1>Welcome to Movie OC!</h1>

<form action="/movie-comedy" class="form-container" id="btn-comedy">
  <a href="/movie-suggestion?genre=35" id="category-btn">Movie Comedy</a> <br>
</form>

<form action="/movie-drama" class="form-container" id="btn-drama">
  <a href="/movie-suggestion?genre=18" id="category-btn">Movie Drama</a> <br>
</form>
<form action="/movie-action" class="form-container" id="btn-action">
  <a href="/movie-suggestion?genre=28" id="category-btn">Movie Action</a> <br>

</form>
<form action="/movie-romcom" class="form-container" id="btn-romcom">
  <a href="/movie-suggestion?genre=10749,28" id="category-btn">Movie RomCom</a> <br>

</form>
<form action="/movie-random" class="form-container" id="btn-random">
  <a href="/movie-suggestion?genre=" id="category-btn">Movie Random</a> <br>
</form>