<div id="title">
    <h4>Search Results for: {{searchQuery}}</h4>
</div>
<div class="row cardContainer">
    {{#each result}}
    <div class="col-md-4">
        {{> searchCard this}}
    </div>
    {{/each}}
</div>






{{#each result}}
<div class="videos-container">
    {{> searchCardDetailsModal this}}
</div>
{{/each}}