<h1>hello</h1>

{{!--
<h3>
    {{title}}</h3>
<div class="cards-container">
    {{> movieCard}}
</div> --}} {{!--

<div class="cards-container">
    {{#each liked}} {{> movieCard}} {{/each}}
</div>

<h3>Hated movies</h3>
<div class="cards-container">
    {{#each hated}} {{> movieCard}} {{/each}}
</div>

<h3>Been there done that</h3>
<div class="cards-container">
    {{#each watched}} {{> movieCard}} {{/each}}
</div> --}}