<h1>User profile page</h1>
<h3>Hello {{this.user.username}}</h3>

<h3>Liked movies</h3>
<div class="cards-container">
  {{#each liked}} {{> movieCard}} {{/each}}
</div>
<h3>Hated movies</h3>
<div class="cards-container">
  {{#each hated}} {{> movieCard}} {{/each}}
</div>
<h3>Been there done that</h3>
<div class="cards-container">
  {{#each watched}} {{> movieCard}} {{/each}}
</div>