<pre>
<h1>Movies I {{category}}</h1>
</pre>
{{#each movieInfo}}
<div class="cards-container">
    {{> movieCard this}}
</div>
{{/each}}

{{#each movieInfo}}
<div class="videos-container">
    {{> trailerModal this}}
</div>
{{/each}}

{{#each movieInfo}}
<div class="details-container">
    {{> detailsModal this}}
</div>
{{/each}}