<div id="title">
    <h1>Movies I {{word}}</h1>
</div>

<div id="all-cards">
    <div class="row cardContainer">
        {{#each movieInfo}}
        <div class="col-md-4">
            {{> movieCard this}}
        </div>
        {{/each}}
    </div>

    {{#each movieInfo}}
    <div class="videos-container">
        {{> trailerModal this}}
    </div>
    {{/each}} {{#each movieInfo}}
    <div class="details-container">
        {{> detailsModal this}}
    </div>
    {{/each}}
</div>


{{!--
<div class="scrollbar scrollbar-lady-lips">
    <div class="row force-overflow">
        {{#each movies}}
        <div class="cards-container col-md-3">
            {{> movieCard this}}
        </div>
        {{/each}}
    </div>
</div> --}} {{!--
<div class="card-deck-wrapper">
    <div class="card-deck">
        <div class="card">
            <div class="card-body">
                <p class="card-text">Looks like the Sun has returned. Here's <a href="#" class="card-link">why</a>.</p>
            </div>
        </div>

    </div>
</div> --}}