<pre>



<h1>User profile page</h1>
<h3>Hello {{this.user.username}}</h3>
</pre>


<a class="btn btn-success btn-block" href="/user-movies/like" id="category-btn">Liked</a> <br>
<a class="btn btn-success btn-block mt-2" href="/user-movies/hate" id="category-btn">Hated</a> <br>
<a class="btn btn-success btn-block mt-2" href="/user-movies/watched" id="category-btn">Watched</a> <br>