#categoryCard {
    background-color: rgba($color: #ffffff, $alpha: 0.3);
    border-color: $navbar;
}
#categories {
    margin-top: 2%;
    // background-color: rgba($color: #ffffff, $alpha: 0.8);
}
