.card img {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.card {
    /* Added */
    float: none; /* Added */
    margin-bottom: 30px; /* Added */
    height: 450px;
    // text-align: center;
    align-content: center;
    margin-right: 20px;
}

.cardContainer {
    padding-left: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-body {
    padding: 20px;
}
.card-body a form button {
    border: red solid 3px;
}
