.modal {
    max-width: 100%;
    width: 900px;
    margin-left: 200px;
}

.modal-content {
    border: 5px aquamarine solid;
}

.modal-trailer {
    width: 800px;
    max-width: 100%;
    border: 5px aquamarine solid;
    border-radius: 2%;
}

.btn-modal {
    width: 300px;
    margin-left: 30px;
    margin-top: 50px;
}

.modal-body-trailer {
    margin-left: 100px;
    margin-top: 50px;
}

.modal-body {
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.modal-body img {
    margin-bottom: 20px;
    margin-top: 10px;
}
