// Color Variables:

$white: #fff !default;
$secondary: #64a19d !default;
// $primary: #64a19d !default;
$primary: #164ce0 !default;
$grey-100: #f8f9fa !default;
$grey-200: #e9ecef !default;
$grey-300: #dee2e6 !default;
$grey-400: #ced4da !default;
$grey-500: #adb5bd !default;
$grey-600: #868e96 !default;
$grey-700: #51565a !default;
$grey-800: #464a4e !default;
$grey-900: #212529 !default;
$black: #161616 !default;
$lightblue: #a5b7c9;
$blue: #189791 !default;
$petrol: #0e6097 !default;
$navbar: #164ce0 !default;
// $navbar: #164ce0 !default;
$catcard: #3e5aa5 !default;
$red: #831d1d !default;
