$white: #fff !default;
$grey-100: #f8f9fa !default;
$grey-200: #e9ecef !default;
$grey-300: #dee2e6 !default;
$grey-400: #ced4da !default;
$grey-500: #adb5bd !default;
$grey-600: #868e96 !default;
$grey-700: #51565a !default;
$grey-800: #464a4e !default;
$grey-900: #212529 !default;
$black: #161616 !default;

$primary: #64a19d !default;

/*
// 0.) GENERAL SETUP
*/

* {
    margin: 0;
}

body {
    font-family: 'Nunito';
    letter-spacing: 0.0625em;
    background-color: $grey-500;
    padding: 50px;
}
// headings
h1,
h2,
h3 {
    margin: 30px auto;
    text-align: center;
    width: 380px;
}
// links
a {
    text-decoration: none;
}

/* 
// 1.) GLOBAL NAVBAR 
*/

#mainNav {
    position: fixed;
    left: 0;
    top: 0;
    min-height: 56px;
    background-color: $white;
    .navbar-toggler {
        font-size: 90%;
        padding: 0.75rem;
        border: 1px solid rgb(82, 82, 82);
        &:focus {
            outline: none;
        }
    }
    .navbar-brand {
        color: rgb(250, 248, 248);
        font-weight: 800;
        padding: 0.9rem 0;
    }
    .navbar-nav {
        .nav-item {
            &:hover {
                color: fade(white, 80%);
                outline: none;
                background-color: transparent;
            }
            &:active,
            &:focus {
                outline: none;
                background-color: transparent;
            }
        }
    }
    #mainNav .navbar-nav .nav-item:active,
    #mainNav .navbar-nav .nav-item:focus {
        outline: none;
        background-color: transparent;
    }
    @media (min-width: 992px) {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: $grey-600;
        transition: background-color 0.3s ease-in-out;
        .navbar-brand {
            padding: 0.5rem 0;
            color: rgb(255, 255, 255);
        }
        .nav-link {
            transition: none;
            padding: 2rem 1.5rem;
            color: fade-out($white, 0.5);
            &:hover {
                color: fade-out($white, 0.25);
            }
            &:active {
                color: white;
            }
        }
        &.navbar-shrink {
            // background-color: $white;
            .navbar-brand {
                color: $black;
            }
            .nav-link {
                color: rgb(255, 255, 255);
                padding: 1.5rem 1.5rem 1.25rem;
                // border-bottom: 0.25rem solid transparent;
                &:hover {
                    color: rgb(75, 75, 75);
                }
                &:active {
                    color: darken(rgb(75, 75, 75), 15%);
                }
                &.active {
                    color: rgb(75, 75, 75);
                    outline: none;
                    border-bottom: 0.25rem solid rgb(75, 75, 75);
                }
            }
        }
    }
}

/*
// 2.2) Login and Signup style
*/

.form-container {
    margin: 30px auto;
    width: 380px;
}
#form-container {
    margin: 30px auto;
    width: 380px;
}

#form-container label {
    color: #666;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}

#form-container input,
#form-container button {
    box-sizing: border-box;
    font-size: 14px;
    outline: 0;
    padding: 4px;
    width: 100%;
}

#form-container button {
    background: #43a3e6;
    border: 1px solid #43a3e6;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
}

#category-btn {
    background: $grey-300;
    border: 1px solid $grey-300;
    border-radius: 4px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease background;
    width: 100%;
}

#form-container button:hover {
    background: $white;
    color: #43a3e6;
    transition: 0.3s ease background;
}

.error-message {
    background: #f02b63;
    box-sizing: border-box;
    color: $white;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
}
.movie-container {
    display: flex;
    justify-content: flex-start;
}
.rate-btn-container {
    display: flex;
    justify-content: flex-end;
}

<<<<<<< HEAD
/*
// 4.1) Movie Detail page
*/
#projects {
    background-color: $grey-500;
    padding: 10rem 0;
    .featured-text {
        padding: 2rem;
        @media (min-width: 992px) {
            background-color: $grey-700;
            padding: 0 0 0 2rem;
            border-left: 0.5rem solid $primary;
        }
    }
    .project-text {
        // padding: 3rem;
        font-size: 90%;
        @media (min-width: 992px) {
            background-color: $grey-500;
            // padding: 5rem;
            hr {
                border-color: $primary;
                border-width: 0.25rem;
                width: 30%;
            }
        }
    }
}

/*
// 4.2) Buttons
*/
// #rate-btn {
//     display: flex;
//     // justify-content: center;
// }
.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.55rem 2.5rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}
.btn-primary {
    background-color: $primary;
    &:hover {
        background-color: darken($primary, 10%);
    }
    &:focus {
        background-color: darken($primary, 10%);
        color: white;
    }
    &:active {
        background-color: darken($primary, 15%) !important;
    }
=======
.list img {
    width: 80px;
>>>>>>> 7d215ea89a0956fad543af2afa43a26ea105103a
}
